.debut{
    padding: 60px 20px;
    font-family: "Figtree", sans-serif;
  
}

.bouton-retour {

  background-color: transparent;
  color: var(--couleur-rouge);
  font-size: 1.1rem;
  text-decoration: none;
  transition: color 0.5s ease;  
  background-color: transparent;
}
.bouton-retour .material-symbols-outlined {
    font-size: 3rem; 
    margin-right: 500rem; 
    position: fixed; 
    transition: all 0.5s linear;
     
}   

.bouton-retour:hover {
  color: #ff9999; 

}

:root{
    --couleur-rouge : #ff4c4c; 
    --blanc : #ffffff;
    --couleur-bleu : #0a0f2c; 
    --blanc-pale : #cccccc;
    --couleur-bleu-clair: #1c2340;  
}

body{
    background-color: var(--couleur-bleu);
}

.debut h2{
    color: var(--couleur-rouge);
    font-size: 2.5rem; 
    margin-bottom: 10px;
    text-align: center;
}



.debut, .introduction{
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 40px;
    color: var(--blanc-pale) ;
} 



.projet{ 
   
    width: 75%;
    background-color: var(--couleur-bleu-clair);
    border-left: 4px solid var(--couleur-rouge); 
    padding: 20px;
    margin-left: 155px;
    margin-bottom: 30px; 
    border-radius: 8px;
    transition: transform 0.7s ease; 
}

.projet:hover{
    transform: scale(1.02); 
}

.projet h3{
    color: var(--blanc);
    margin-bottom: 10px;
} 

.projet p {
    color:#dddddd; 
    margin-bottom: 10px; 
}

.projet ul{
    list-style: none;
    padding-left: 0;
}

.projet ul li{
    margin-bottom: 6px;
    color: #bbbbbb;
} 

a{
    text-decoration: none; 
    color: var(--couleur-rouge);
} 

 @media (max-width: 800px) {
    
    .projet{
        width: 80%;
        margin: 30px 60px ; 

    } 
} 